[Unit]
Description=backup home directory with borgmatic


[Service]
Type=oneshot
Environment="BORG_PASSCOMMAND=sh -c \"cat ~/.config/borg/pass\""
ExecStart=/bin/sh -c 'borgmatic create -s --exclude-from ~/.config/borg/exclude mcp:/media/datastore/backup/borg/$(hostname)::$(date -Im) ~/'
